<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        
        
       <bean id="diesel" class="vishal.in.DieselEngine"/>
       <bean id="petrol" class="vishal.in.PetrolEngine"/>
       <bean id="car" class="vishal.in.Car">
       <constructor-arg ref="petrol"/>
       </bean>
</beans>